<!DOCTYPE html>
<html>
<head>
    <title>Latest from VG</title>
    <link href="css/pure-min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div id="header"><img src="img/logo277x64.png"/></div>
    <div class="list container"><span class="Loading RSS..."></span></div>

    <script>
        require('nw.gui').Window.get().showDevTools();

        var $          = require('jquery'),
            _          = require('lodash'),
            FeedParser = require('feedparser'),
            http       = require('http'),
            gui        = require('nw.gui');

        var refreshInterval = 30, //seconds
            feedUrl         = 'http://www.vg.no/rss/feed/?limit=50&format=rss&categories=&keywords=',
            container       = $('.container'),
            articleRow      = '<div class="item" data-url="<%= url %>" data-datetime="<%= datetime %>"><h2><%= title %></h2><div class="source"><%= source %></div></div>',
            lastBuildDate   = '',
            updated;

        function loadVGFeed() {
            // Create readstream. Obviously errors needs
            // to be handled for anything closer to production
            // than this demo
            http.get(feedUrl, function(resource) {
                resource
                    .pipe(new FeedParser())
                    .on('error', function (error) {})
                    .on('meta', function (meta) {
                        var buildDate = meta['rss:lastbuilddate']['#'];

                        updated = buildDate > lastBuildDate;
                        lastBuildDate = buildDate;

                        if (updated) {
                            container.empty();
                        }
                    })
                    .on('readable', function() {
                        if (!updated) {
                            return;
                        }

                        var stream = this, item;
                        while (item = stream.read()) {
                            var newRow = $(_.template(articleRow, {
                                url: item.link,
                                title: item.title,
                                datetime: item.pubDate,
                                source: item.link.replace(/^http[s]?:\/\//, '')
                            }));

                            newRow.on('click', function() {
                                // Open URL with default browser.
                                gui.Shell.openExternal($(this).data('url'));
                            });

                            newRow.appendTo(container);
                        }
                    });
            });
        }

        // Initial feed load
        loadVGFeed();

        // Set interval to get updated feed date
        setInterval(loadVGFeed, refreshInterval * 1000);
    </script>
</body>
</html>